{% extends "./base.html" %}
{% block content %}
<head><title>Add Resource</title></head>
<h1 class="resourceTitle">Add resource for: {{ course.name }}</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <span style="color: red;">{{ field.errors }}</span>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Upload</button>
</form>
<a href="{% url 'course_detail' course.id %}">Back to Course</a>
{% endblock %}
